
.footer{
    color:darken(#95dab7, 0%);
    font-weight: 350;
    padding: $ms-size 0;
    -webkit-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.22);
    -moz-box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.22);
    box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.22);
  }
  
  
  .Site {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
  }
  
  .Site-content {
   flex: 1 0 auto;
   padding: var( — space) var( — space) 0;
   width: 100%;
  }
  .Site-content:after {
   content: ‘\00a0’;
   display: block;
   margin-top: var( — space);
   height: 0;
   visibility: hidden;
  }
  