.header {
    background: $dark-blue;
  }
  
  .header__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: $s-size 0;
  }
  
  .header__title {
    color: white;
    text-decoration: none;
    h1 {
      margin: 0;
    }
  }
  
  .header2 {
    background: darken(#435aaf, 0%);
    //background: darken(#80a4c5, 0%);
    color:darken(#95dab7, 0%);
    font-weight: 350;
    padding: 0 0;
    border-bottom:1px solid darken(#dddfe2, 5%);
    //border-top:2px solid darken(#e7ecf3, 0%);
    //box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.12);
  }
  
  .header2__title {
    font-size: 2.0rem;
    margin: 0 0 0 $m-size;
    color:darken(#fefefe, 0%);
    text-decoration: none;
    font-weight: 400;
  
  }
  
  .header2__subtitle {
    color:darken(#95dab7, 0%);
    font-size: $ms-size;
    font-weight: 900;
    margin: 0;
  }
  
  @media (min-width: $desktop-breakpoint) {
    .header {
      margin-bottom: $xl-size;
    }
  }
  